.vr-checkbox {
  width: 40%;
  margin: 0 0 12px 0;

  &__tick {
    height: 16px;
    width: 16px;
    border: 2px solid #b4d6f0;
    background-color: #c2e8ff;
    margin: 0 14px 0px 0px;
    cursor: pointer;
  }

  &__text {
    cursor: pointer;
  }
}