.slider-images {
  &__images {
    height: 100vh;
    position: absolute;
    transition: 0.8s;
  }

  &__active-image {
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  &__arrow-left {
    width: 180px;
    height: 100vh;
    position: absolute;
    left: 0;
    transition: 0.6s;
    cursor: pointer;
    z-index: 1;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      transition: 0.6s;
    }
  }

  &__arrow-left-svg {
    width: 100px;
    height: 100px;
    z-index: 6;
  }

  &__arrow-right {
    width: 180px;
    height: 100vh;
    position: absolute;
    right: 0;
    transition: 0.6s;
    cursor: pointer;
    z-index: 1;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        transition: 0.6s;
      }
  }

  &__arrow-right-svg {
    width: 100px;
    height: 100px;
    z-index: 6;
  }

  &__selected-slider {
    width: 100%;
    position: absolute;
    top: 30px;
    z-index: 5;
  }
}
