.selected-slider {
  &__dot {
    width: 10px;
    height: 10px;
    border: 1px solid $bs200;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
    background-color: $bs100;
    transition: 0.8s;
  }

  &__select {
    width: 10px;
    height: 10px;
    border: 1px solid $bs700;
    border-radius: 50%;   
    margin: 0 4px;
    cursor: pointer;
    background-color: $bs700;
    transition: 0.8s;
  }
}
