html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.42;
  -webkit-user-select: text;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  letter-spacing: inherit;
}

section {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

figure,
ul,
p {
  margin: 0;
}

img {
  display: block;
}

header {
  padding: 0;
}

footer {
  font-size: inherit;
  font-style: normal;
}

a {
  color: $primary;
  text-decoration: none;
  cursor: pointer;

  &.caption-link {
    @extend %caption;

    color: $regular-blue !important;

    &:hover {
      @extend %caption;

      color: $regular-blue !important;
    }
  }
}

.page-container {
  @extend %page-container;

  max-width: 1360px;
}

.primary-page-title {
  @extend %page-header;

  margin-bottom: 24px;
  word-break: break-all;

  &__label {
    color: $yellow;
  }

  &--without-bottom-margin {
    margin-bottom: 0;
  }
}

.common-wrapper {
  @extend %container;

  @include maxWidth(768) {
    padding: 0 24px;
  }

  max-width: $common-wrapper-width;
  padding: 0 30px;

  &--min {
    max-width: $content-column-width;
  }

  &--zab {
    padding: 0 40px;

    @include maxWidth(768) {
      padding: 0 20px;
    }
  }
}

.wide-container {
  position: relative;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('assets/images/1.jpg') no-repeat center;
    background-color: $white;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: calc((100% - #{$page-wrapper-width}) / 2 + #{$content-column-width});
      background-color: $thin-green;
    }
  }
}

.full-hd-container {
  @extend %container;

  max-width: $full-hd-container-width;
  padding: 0;
}

.hd-container {
  @extend %container;

  max-width: $hd-container-width;
  padding: 0 40px;

  @include maxWidth(768) {
    padding: 0 20px;
  }
}

.page-wrapper {
  @extend %container;

  max-width: $page-wrapper-width;
}

.content-column {

  flex-grow: 1;
  flex-shrink: 1;
  max-width: $content-column-width;
}

.sidebar-column {
  flex-grow: 1;
  flex-shrink: 0;
  min-width: $sidebar-column-width;
  max-width: $sidebar-column-width;
  padding-left: 40px;
}

.toast-notification {
  font-size: 20px !important;
}

.flex {
  flex-grow: 1 !important;
}

.main-body {
  width: 100%;
}

.main-wrap {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.entity-container {
  max-width: $entity-container-width;
  margin: 0 auto;
  padding: 0 24px;
}

.site-button {
  width: 250px;
  height: 55px;
  background-color: $yellow-color;
  text-transform: uppercase;
  cursor: pointer;

  &--statistic {
    height: 50px;
    background-color: $white;
    font-size: 16px;
    text-transform: none;
  }

  &--medium-screen {
    margin-bottom: 28px;
  }

  &--small-screen {
    width: 100%;
  }

  &--top-margin {
    margin-top: auto;
  }
}

.statistic {
  &__column {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__columns-wrapper {
    .statistic__column {
      flex-grow: 1;

      &:nth-child(even) {
        .statistic-item__icon-block {
          right: 0;
          left: initial;
        }

        .statistic-item__content {
          right: initial;
          left: 0;
        }
      }

      &:nth-child(odd) {
        .statistic-item__content {
          right: 0;
          left: initial;
        }
      }
    }
  }
}

.button-wrap {
  @extend %subheader-1;

  width: auto;
  padding: 16px 32px;
  background: $yellow-color;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: $hover-yellow-color;
  }

  &--disabled {
    @extend %subheader-1;

    background: $disabled-color;
    color: $secondary;
    cursor: default;

    &:hover {
      background: $disabled-color;
    }
  }

  &--right-margin {
    margin-right: 24px;
  }
}

.checkbox-inline {
  @extend %body-1;

  padding-left: 0 !important;
}

.margin-top-auto {
  margin-top: auto;
}

div,
span,
input {
  &:focus,
  &:hover,
  &:active {
    outline: 0 !important;
    outline-offset: 0 !important;
  }

  &::before,
  &::after {
    &:focus,
    &:hover,
    &:active {
      outline: 0 !important;
      outline-offset: 0 !important;
    }
  }

  &[type='checkbox'] {
    position: absolute;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    opacity: 0;

    & + div {
      padding: 0 9px 5px 36px;
      background: url('assets/images/checkbox.png') 0 0 no-repeat;
    }

    &:checked + div {
      background: url('assets/images/checkbox-check.png') 0 0 no-repeat;
    }
  }

  &[type='file'],
  &[type='checkbox'],
  &[type='radio'] {
    &:focus,
    &:hover,
    &:active {
      outline: 0 !important;
      outline-offset: 0 !important;
    }
  }
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-overflow-multi-line {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: normal;
}

.block-line-wrapper {
  &--dark-color {
    background: $swamp-green;
  }
}

.click,
.cursor-pointer {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

.not-found {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.base-scroll {
  @include base-scroll;
}

/**
 * Обертка статус-бейджа под каждого заказчика
 * #styleGuide
 **/
.status-wrap {
  @extend %ws-action-1;

  text-transform: uppercase;

  @include styleFor($zabTemplate) {
    color: $zab-purple-secondary;
  }

  @include styleFor($adTemplate) {
    color: $ra500;
    text-transform: initial;
  }

  @include styleFor($r41Template) {
    text-transform: initial;
  }

  &--default {
    color: $pb500;

    @include styleFor($kamTemplate) {
      color: $bs080;
    }

    @include styleFor($adTemplate) {
      color: $ra500;
    }
  }

  &--process {
    color: $action-secondary;

    @include styleFor($kamTemplate) {
      color: $kam-action-secondary;
    }

    @include styleFor($adTemplate) {
      color: $ra500;
    }

    @include styleFor($usrTemplate) {
      color: $sr500;
    }

    @include styleFor($r41Template) {
      color: $cab500;
    }
  }

  &--warning {
    color: $oy500;

    @include styleFor($kamTemplate) {
      color: $gm500;
    }

    @include styleFor($adTemplate) {
      color: $ra500;
    }

    @include styleFor($usrTemplate) {
      color: $ev500;
    }
  }

  &--error {
    color: $ru500;

    @include styleFor($kamTemplate) {
      color: $ev500;
    }

    @include styleFor($adTemplate) {
      color: $ra500;
    }

    @include styleFor($usrTemplate) {
      color: $ev500;
    }

    @include styleFor($r41Template) {
      color: $ra300;
    }
  }

  &--success {
    color: $ae500;

    @include styleFor($kamTemplate) {
      color: $gc500;
    }

    @include styleFor($adTemplate) {
      color: $ra500;
    }

    @include styleFor($usrTemplate) {
      color: $gc500;
    }

    @include styleFor($r41Template) {
      color: $gc400;
    }
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

/**
 * Класс стилизующий ссылки цвета primary, по наведению перекрашивая в цвет ссылок конкретного заказчика
 * #styleGuide
 **/
.primary-link {
  color: $bs750;

  @include styleFor($kamTemplate) {
    color: $bs900;
  }

  @include styleFor($zabTemplate) {
    color: $bs900;
  }

  @include styleFor($adTemplate) {
    color: $bs900;
  }

  @include styleFor($r41Template) {
    color: $dss900;
  }
}

/**
 * Класс стилизующий ссылки цвета secondary, по наведению перекрашивая в цвет ссылок конкретного заказчика
 * #styleGuide
 **/
.secondary-link {
  color: $pb500;

  @include styleFor($kamTemplate) {
    color: $bs080;
  }

  @include styleFor($adTemplate) {
    color: $bs080;
  }

  @include styleFor($usrTemplate) {
    color: $dss090;
  }
}

/**
 * Набор оттенков по наведению для каждого конкретного заказчика
 * #styleGuide
 **/
.primary-link:hover,
.secondary-link:hover {
  color: $de500;

  @include styleFor($kamTemplate) {
    color: $kam-regular-blue;
  }

  @include styleFor($zabTemplate) {
    color: $pp600;
  }

  @include styleFor($adTemplate) {
    color: $ra500;
  }

  @include styleFor($usrTemplate) {
    color: $sr600;
  }

  @include styleFor($r41Template) {
    color: $cab500;
  }
}

/**
 * Запрет выделения текста. Наследуется.
 **/
.disallow-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
