.main-top-menu {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 6px rgb(150, 150, 150);
  position: absolute;
  z-index: 99;
  top: -100px;
  transition: 0.5s;

  &__wrapper {
    width: 100%;
    height: 60px;
  }

  &__item {
    transition: all 0.2s ease-out;

    &:hover {
      color: #63dfaf;
    }
  }

  &__item-name {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__item-active {
    color: #18c583;
  }

  &__visible {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 6px rgb(150, 150, 150);
    position: absolute;
    top: 0;
    z-index: 99;
    transition: 0.5s;
  }
}
