.menu-map {
  width: 100%;

  &__left-block {
    width: 100%;
    padding: 40px;
  }

  &__title {
    color: #fc3f1d;
    padding-bottom: 20px;
  }

  &__text {
    border: 2px solid rgb(112, 109, 109);
    box-shadow: 0 12px 20px rgba(0,0,0,0.10), 0 3px 4px rgba(0,0,0,0.10);
    border-radius: 4px;
    padding: 20px;
  }

  &__color {
    .vr-input__input {
      input {
        width: 30px;
        height: 30px;
        padding: 0;
      }
    }
  }

  &__block-coords{
    margin: 10px;
    padding-right: 12px;
    height: 370px;
    overflow-y: auto;
  }

  &__coords {
    font-size: large;
    margin: 20px 0;
  }

  &__color {
    .vr-input__row {
      margin: 0;
    }
    .vr-input__label {
      margin-bottom: 0;
    }
  }

  &__delete {
    border: 1px solid red;
    padding: 6px;
    border-radius: 4px;
    box-shadow: 0 12px 20px rgba(250, 173, 173, 0.1), 0 3px 4px rgba(0,0,0,0.10);
  }

  &__body {
    width: 100%;
    height: 100vh;
  }

  &__map {
    width: 100%;
    height: 100vh;
  }
}
