.displaying-list {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;

  &__title {
    color: $lsg400;
    letter-spacing: -2px;
    padding: 20px;
    font-size: 50px;
    font-family: cursive;
  }

  &__table {
    cursor: pointer;
    width: 100%;
    border-collapse: collapse;
  }

  &__table-heading {
    font-size: 20px;
    padding: 5px;
    border: 1px solid $bs900;
    background-color: $gc050;
  }

  &__table-context-wrap {
    &:hover {
      .displaying-list__table-context-modal {
        position: absolute;
        top: 50px;
        right: 15px;
        opacity: 1;
        transition: 0.3s;
      }
    }
  }

  &__table-context {
    font-size: 20px;
    font-family: serif;
    padding: 10px 10px 10px 35px;
    border: 1px solid $bs900;
    background-color: $de040;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: $de060;
    }
  }

  &__table-context-modal {
    position: absolute;
    top: 50px;
    right: -100px;
    opacity: 0;
    transition: 0.3s;
  }
}
