.test-component {
  width: 100%;
  margin: 12px;

  &__button {
    width: fit-content;
    padding: 10px 15px;
    border: 1px solid #000;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      background-color: #f7f7f7;
    }
  }
}
