.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $white;
  opacity: 1;
  z-index: 9999;

  &__ending {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $white;
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
  }
}
