.notification {
  width: 200px;
  height: 100px;
  border-radius: 4px;
  background-color: $de050;
  box-shadow: 0 12px 20px rgba(0,0,0,0.10), 0 3px 4px rgba(0,0,0,0.10);
  
  &__context {
    width: 100%;
    padding: 20px 0;
  }

  &__context-top {
    width: 100%;
    margin: 0 0 5px 0;
  }
  

  &__context-down {
    width: 100%;
  }
}