.vr-select {
  width: 100%;
  margin: 0 0 20px;
  
  &__name{
    margin: 0 0 4px;
  }
  
  &__body {
    border-radius: 4px;
    border: 2px solid $bc200;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
  }

  select {
    &:focus {
      outline: none;
    }
  }
}