.vr-input {
  width: 100%;
  margin: 0 0 20px;

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__label {
    margin-bottom: 4px;
  }

  &__top-label {
    margin-right: 4px;
  }

  &__input {
    input {
      @extend %ws-body-1;

      border-radius: 4px;
      border: 2px solid $bc200;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 15px;
  
      &:focus {
        border-bottom: 2px solid $bc900;
      }

      &:disabled {
        background-color: $bs035;
      }
    }
  }

  &__input-color {
    input{
      width: 30px;
      height: 30px;
      padding: 0;
    }
  }
}
