.vr-modal {
  width: 40%;
  color: black;
  background-color: white;
  padding: 30px;
  position: relative;
  border-radius: 5px;

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($black, 0.7);
  }

  &__header {
    width: 100%;
    margin: 0 0 20px 0;
  }

  &__close {
    font-size: 20px;
    color: #000;
    text-decoration: none;
  }
}
