.model-view-modal {
  width: 100%;
  padding: 10px 0;

  &__button {
    width: 20%;
    background-color: $de040;
    border-radius: 4px;
    border: 1px solid $bs900;
    padding: 10px 0;
  }
}
